.makeup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  background: #e5e4e4;
  padding-right: 10px;
  font-size: 14px;
}

.makeup-sub-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.makeup-tab-active {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 55px;
  width: 216px;
  background: #171717;
  color: #fff;
  text-decoration: none;
}

.makeup-tab-active-lipstick {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 55px;
  width: 216px;
  background: #171717;
  color: #fff;
  text-decoration: none;
}

.makeup-tab-active ::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: calc(100% + 15px);
  border-radius: 0 15px 0 0;
  background: #171717;
  height: 10px;
}
.makeup-tab-active-lipstick ::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -15px;
  width: calc(100% + 15px);
  border-radius: 15px 0 0 0;
  background: #171717;
  height: 10px;
}

.makeup-tab-active ::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 53px solid #171717;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #171717;
}

.makeup-tab-active-lipstick ::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 53px solid #171717;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #171717;
}

.makeup-tab-active > h2 {
  font-size: 14px;
  font-weight: 700;
}

.section-sub-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-sub-menu > a {
  color: #707070;
  text-decoration: none;
}

.section-more {
  color: #c73030;
  font-size: 14px;
  font-weight: 700;
}

.section-makeup {
  background-color: #fff;
  margin-bottom: 30px;
}
.makeup-banner-col {
  padding-right: 0;
  position: relative;
  z-index: 1 !important;
}
.makeup-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.makeup-grid-container {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  background: #fff;
}
.makeup-grid-item {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* Card Style */
.coco-card {
  padding: 10px;
  position: relative;
  transition: all 0.2s;
  background: #fff;
  height: 100%;
  border: 1px solid transparent;
  margin: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: 1;
}
.coco-card:hover {
  border: 1px solid #d63384;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.badge-freeship {
  position: absolute;
  top: 0;
  left: 0;
  background: #ff0000;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  padding: 2px 6px;
  text-transform: uppercase;
  z-index: 2;
  border-bottom-right-radius: 5px;
}
.badge-percent {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d63384;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 6px;
  border-bottom-left-radius: 5px;
  z-index: 2;
}
.coco-img-wrapper {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;

  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.coco-img-wrapper img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: 0.3s;
}
.coco-card:hover .coco-img-wrapper img {
  transform: scale(1.05);
}
.coco-brand {
  font-size: 10px;
  color: #888;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  margin-bottom: 3px;
}
.coco-name {
  font-size: 13px;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 38px;
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 1.4;
}
.coco-price-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
.coco-price-new {
  color: #d63384;
  font-weight: 700;
  font-size: 15px;
}
.coco-price-old {
  color: #999;
  text-decoration: line-through;
  font-size: 12px;
}
